//Created by ayaz.p on 28/12/15.
body
   div(id="content", class="main")
      a(href="http://expressjsguide.com", title="Express.js Guide", target="_blank") Express.js Guide
      form(action="/login")
         button(type="submit, value="save")
   div(class="hero-unit") Lean Node.js!

